<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head") %> 
</head>
<body>
    <%- include("nav") %> 
    <div class="container contentor">
        <h1>Contact</h1>
        <p>You can contact me via e-mail : <a href="mailto:ghaliomar.g.ink@gmail.com">ghaliomar.g.ink@gmail.com</a></p>
    </div>
</body>
</html>