<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head") %> 
</head>
<body>
    <%- include("nav") %> 
    <div class="container contentor">
        <h1>Hi, I'm Ghali.</h1>
        <p>I'm a programmer! <br>I specialize in fullstack web development.</p>
    </div>
</body>
</html>